label {
  display: block;
  padding: 12px;
  margin-bottom: 6px;
}

label span {
  display: inline-block;
  width: 80px;
}

label input {
  padding: 6px;
  margin-bottom: 3px;
}

input:focus {
  border: 3px solid darkgreen;
}


input:invalid {
  border: 2px solid red;
  box-shadow: none;
}

.input-control {
  border: 2px solid black;
}

.input-control.input-errors {
  border: 2px solid red;
}

.input-control.input-success {
  border: 2px solid blue;
}


/*
input:focus {
  border: none;
  outline: none;
}
*/

.form-test {

}

.form-test {
  display: flex;
}

.form-label {
  width: 80px;
}

.errors {
  min-height: 32px;
}